In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# dataset_folder = '/home/joshi/Desktop/learning/datasets'
dataset_folder = 'C:\\Users\\adity\\Desktop\\datasets\\'

In [3]:
import os
os.listdir(dataset_folder)

['Bank_Loan.7z', 'Bank_Loan.xlsx', 'Bank_Loan.zip']

In [6]:
bank_dataset = dataset_folder + 'Bank_Loan.xlsx'

In [7]:
bank_dataset

'C:\\Users\\adity\\Desktop\\datasets\\Bank_Loan.xlsx'

In [12]:
import time

time.time()

1627444730.0148516

In [13]:
start_time = time.time()

train = pd.read_excel(bank_dataset, sheet_name='Train', engine='openpyxl')
test = pd.read_excel(bank_dataset, sheet_name='Test', engine='openpyxl')

end_time = time.time()

In [14]:
end_time - start_time

36.34657621383667

In [15]:
train.shape

(87020, 26)

In [16]:
test.shape

(37717, 24)

In [17]:
import datetime

In [20]:
datetime.date.today()

datetime.date(2021, 7, 28)

In [23]:
datetime.datetime.now()

datetime.datetime(2021, 7, 28, 4, 13, 2, 907623)

In [24]:
train

,ID,Gender,City,Monthly_Income,DOB,Lead_Creation_Date,Loan_Amount_Applied,Loan_Tenure_Applied,Existing_EMI,Employer_Name,...,Interest_Rate,Processing_Fee,EMI_Loan_Submitted,Filled_Form,Device_Type,Var2,Source,Var4,LoggedIn,Disbursed
0,ID000002C20,Female,Delhi,20000,1978-05-23,2015-05-15,300000.0,5.0,0.0,CYBOSOL,...,NaN,NaN,NaN,N,Web-browser,G,S122,1,0,0
1,ID000004E40,Male,Mumbai,35000,1985-10-07,2015-05-04,200000.0,2.0,0.0,TATA CONSULTANCY SERVICES LTD (TCS),...,13.25,NaN,6762.90,N,Web-browser,G,S122,3,0,0
2,ID000007H20,Male,Panchkula,22500,1981-10-10,2015-05-19,600000.0,4.0,0.0,ALCHEMIST HOSPITALS LTD,...,NaN,NaN,NaN,N,Web-browser,B,S143,1,0,0
3,ID000008I30,Male,Saharsa,35000,1987-11-30,2015-05-09,1000000.0,5.0,0.0,BIHAR GOVERNMENT,...,NaN,NaN,NaN,N,Web-browser,B,S143,3,0,0
4,ID000009J40,Male,Bengaluru,100000,1984-02-17,2015-05-20,500000.0,2.0,25000.0,GLOBAL EDGE SOFTWARE,...,NaN,NaN,NaN,N,Web-browser,B,S134,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87015,ID124813N30,Female,Ajmer,71901,1969-11-27,2015-07-31,1000000.0,5.0,14500.0,MAYO COLLEGE,...,NaN,NaN,NaN,N,Web-browser,G,S122,3,0,0
87016,ID124814O40,Female,Kochi,16000,1990-12-01,2015-07-31,0.0,0.0,0.0,KERALA COMMUNICATORS CABLE LTD,...,35.50,4800.0,9425.76,Y,Mobile,G,S122,5,0,0
87017,ID124816Q10,Male,Bengaluru,118000,1972-01-28,2015-07-31,0.0,0.0,0.0,BANGALORE INSTITUTE OF TECHNOLOGY,...,NaN,NaN,NaN,N,Mobile,G,S122,3,0,0
87018,ID124818S30,Male,Bengaluru,98930,1977-04-27,2015-07-31,800000.0,5.0,13660.0,FIRSTSOURCE SOLUTION LTD,...,NaN,NaN,NaN,N,Web-browser,G,S122,3,0,0
87019,ID124821V10,Male,Mumbai,42300,1988-10-31,2015-07-31,0.0,0.0,0.0,GOVERNMENT OF INDIA,...,13.99,3450.0,18851.81,N,Web-browser,G,S122,4,0,0

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87020 entries, 0 to 87019
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     87020 non-null  object
 1   Gender                 87020 non-null  object
 2   City                   86017 non-null  object
 3   Monthly_Income         87020 non-null  int64
 4   DOB                    87020 non-null  datetime64[ns]
 5   Lead_Creation_Date     87020 non-null  datetime64[ns]
 6   Loan_Amount_Applied    86949 non-null  float64
 7   Loan_Tenure_Applied    86949 non-null  float64
 8   Existing_EMI           86949 non-null  float64
 9   Employer_Name          86949 non-null  object
 10  Salary_Account         75256 non-null  object
 11  Mobile_Verified        87020 non-null  object
 12  Var5                   87020 non-null  int64
 13  Var1                   87020 non-null  object
 14  Loan_Amount_Submitted  52407 non-null  float64
 15  Loan_Tenure_Submitted  52407 non-null  float64
 16  Interest_Rate          27726 non-null  float64
 17  Processing_Fee         27420 non-null  float64
 18  EMI_Loan_Submitted     27726 non-null  float64
 19  Filled_Form            87020 non-null  object
 20  Device_Type            87020 non-null  object
 21  Var2                   87020 non-null  object
 22  Source                 87020 non-null  object
 23  Var4                   87020 non-null  int64
 24  LoggedIn               87020 non-null  int64
 25  Disbursed              87020 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(5), object(11)
memory usage: 17.3+ MB

In [27]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     37717 non-null  object
 1   Gender                 37717 non-null  object
 2   City                   37319 non-null  object
 3   Monthly_Income         37717 non-null  int64
 4   DOB                    37717 non-null  datetime64[ns]
 5   Lead_Creation_Date     37717 non-null  datetime64[ns]
 6   Loan_Amount_Applied    37677 non-null  float64
 7   Loan_Tenure_Applied    37677 non-null  float64
 8   Existing_EMI           37677 non-null  float64
 9   Employer_Name          37675 non-null  object
 10  Salary_Account         32680 non-null  object
 11  Mobile_Verified        37717 non-null  object
 12  Var5                   37717 non-null  int64
 13  Var1                   37717 non-null  object
 14  Loan_Amount_Submitted  22795 non-null  float64
 15  Loan_Tenure_Submitted  22795 non-null  float64
 16  Interest_Rate          12110 non-null  float64
 17  Processing_Fee         11971 non-null  float64
 18  EMI_Loan_Submitted     12110 non-null  float64
 19  Filled_Form            37717 non-null  object
 20  Device_Type            37717 non-null  object
 21  Var2                   37717 non-null  object
 22  Source                 37717 non-null  object
 23  Var4                   37717 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(3), object(11)
memory usage: 6.9+ MB

In [28]:
train['source'] = 'train'
test['source'] = 'test'
data = pd.concat([train, test], ignore_index=True)
data.shape

(124737, 27)

In [29]:
data

,ID,Gender,City,Monthly_Income,DOB,Lead_Creation_Date,Loan_Amount_Applied,Loan_Tenure_Applied,Existing_EMI,Employer_Name,...,Processing_Fee,EMI_Loan_Submitted,Filled_Form,Device_Type,Var2,Source,Var4,LoggedIn,Disbursed,source
0,ID000002C20,Female,Delhi,20000,1978-05-23,2015-05-15,300000.0,5.0,0.0,CYBOSOL,...,NaN,NaN,N,Web-browser,G,S122,1,0.0,0.0,train
1,ID000004E40,Male,Mumbai,35000,1985-10-07,2015-05-04,200000.0,2.0,0.0,TATA CONSULTANCY SERVICES LTD (TCS),...,NaN,6762.9,N,Web-browser,G,S122,3,0.0,0.0,train
2,ID000007H20,Male,Panchkula,22500,1981-10-10,2015-05-19,600000.0,4.0,0.0,ALCHEMIST HOSPITALS LTD,...,NaN,NaN,N,Web-browser,B,S143,1,0.0,0.0,train
3,ID000008I30,Male,Saharsa,35000,1987-11-30,2015-05-09,1000000.0,5.0,0.0,BIHAR GOVERNMENT,...,NaN,NaN,N,Web-browser,B,S143,3,0.0,0.0,train
4,ID000009J40,Male,Bengaluru,100000,1984-02-17,2015-05-20,500000.0,2.0,25000.0,GLOBAL EDGE SOFTWARE,...,NaN,NaN,N,Web-browser,B,S134,3,1.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124732,ID124809J40,Female,Ponda,40000,1971-12-28,2015-07-31,1000000.0,4.0,10000.0,GOVT EMPLOYEE,...,NaN,NaN,N,Web-browser,G,S122,3,NaN,NaN,test
124733,ID124817R20,Male,Chandigarh,20500,1984-02-09,2015-07-31,0.0,0.0,0.0,MAX SUPER SPECIALITY HOSPITAL MOHALI,...,6600.0,12171.6,Y,Mobile,G,S122,5,NaN,NaN,test
124734,ID124820U00,Male,Meerut,25000,1969-12-18,2015-07-31,0.0,0.0,0.0,C.I.S.F,...,NaN,NaN,N,Mobile,G,S122,3,NaN,NaN,test
124735,ID124822W20,Female,Kolkata,130000,1972-01-01,2015-07-31,600000.0,0.0,67000.0,TATA STEEL LTD,...,NaN,NaN,N,Web-browser,G,S122,1,NaN,NaN,test
124736,ID124823X30,Male,Delhi,30000,1988-10-04,2015-07-31,100000.0,1.0,4364.0,NINE A BUSINESS CONNECT PRIVATE LIMTED,...,NaN,NaN,N,Web-browser,G,S122,3,NaN,NaN,test

In [33]:
data.isnull().sum()

ID                           0
Gender                       0
City                      1401
Monthly_Income               0
DOB                          0
Lead_Creation_Date           0
Loan_Amount_Applied        111
Loan_Tenure_Applied        111
Existing_EMI               111
Employer_Name              113
Salary_Account           16801
Mobile_Verified              0
Var5                         0
Var1                         0
Loan_Amount_Submitted    49535
Loan_Tenure_Submitted    49535
Interest_Rate            84901
Processing_Fee           85346
EMI_Loan_Submitted       84901
Filled_Form                  0
Device_Type                  0
Var2                         0
Source                       0
Var4                         0
LoggedIn                 37717
Disbursed                37717
source                       0
dtype: int64

In [32]:
missing = data.isnull().sum()[data.isnull().sum().values > 0]

In [38]:
(missing*100/len(data)).round(2).astype(str)+' %'

City                      1.12 %
Loan_Amount_Applied       0.09 %
Loan_Tenure_Applied       0.09 %
Existing_EMI              0.09 %
Employer_Name             0.09 %
Salary_Account           13.47 %
Loan_Amount_Submitted    39.71 %
Loan_Tenure_Submitted    39.71 %
Interest_Rate            68.06 %
Processing_Fee           68.42 %
EMI_Loan_Submitted       68.06 %
LoggedIn                 30.24 %
Disbursed                30.24 %
dtype: object

In [39]:
data.columns

Index(['ID', 'Gender', 'City', 'Monthly_Income', 'DOB', 'Lead_Creation_Date',
       'Loan_Amount_Applied', 'Loan_Tenure_Applied', 'Existing_EMI',
       'Employer_Name', 'Salary_Account', 'Mobile_Verified', 'Var5', 'Var1',
       'Loan_Amount_Submitted', 'Loan_Tenure_Submitted', 'Interest_Rate',
       'Processing_Fee', 'EMI_Loan_Submitted', 'Filled_Form', 'Device_Type',
       'Var2', 'Source', 'Var4', 'LoggedIn', 'Disbursed', 'source'],
      dtype='object')

In [40]:
data.dtypes

ID                               object
Gender                           object
City                             object
Monthly_Income                    int64
DOB                      datetime64[ns]
Lead_Creation_Date       datetime64[ns]
Loan_Amount_Applied             float64
Loan_Tenure_Applied             float64
Existing_EMI                    float64
Employer_Name                    object
Salary_Account                   object
Mobile_Verified                  object
Var5                              int64
Var1                             object
Loan_Amount_Submitted           float64
Loan_Tenure_Submitted           float64
Interest_Rate                   float64
Processing_Fee                  float64
EMI_Loan_Submitted              float64
Filled_Form                      object
Device_Type                      object
Var2                             object
Source                           object
Var4                              int64
LoggedIn                        float64
Disbursed                       float64
source                           object
dtype: object

In [42]:
data['Salary_Account'].value_counts()

HDFC Bank                                          25180
ICICI Bank                                         19547
State Bank of India                                17110
Axis Bank                                          12590
Citibank                                            3398
Kotak Bank                                          2955
IDBI Bank                                           2213
Punjab National Bank                                1747
Bank of India                                       1713
Bank of Baroda                                      1675
Standard Chartered Bank                             1434
Canara Bank                                         1385
Union Bank of India                                 1330
Yes Bank                                            1120
ING Vysya                                            996
Corporation bank                                     948
Indian Overseas Bank                                 901
State Bank of Hyderabad                              854
Indian Bank                                          773
Oriental Bank of Commerce                            761
IndusInd Bank                                        711
Andhra Bank                                          706
Central Bank of India                                648
Syndicate Bank                                       614
Bank of Maharasthra                                  576
HSBC                                                 474
State Bank of Bikaner & Jaipur                       448
Karur Vysya Bank                                     435
State Bank of Mysore                                 385
Federal Bank                                         377
Vijaya Bank                                          354
Allahabad Bank                                       345
UCO Bank                                             344
State Bank of Travancore                             333
Karnataka Bank                                       279
United Bank of India                                 276
Dena Bank                                            268
Saraswat Bank                                        265
State Bank of Patiala                                263
South Indian Bank                                    223
Deutsche Bank                                        176
Abhyuday Co-op Bank Ltd                              161
The Ratnakar Bank Ltd                                113
Tamil Nadu Mercantile Bank                           103
Punjab & Sind bank                                    84
J&K Bank                                              78
Lakshmi Vilas bank                                    69
Dhanalakshmi Bank Ltd                                 66
State Bank of Indore                                  32
Catholic Syrian Bank                                  27
India Bulls                                           21
B N P Paribas                                         15
Firstrand Bank Limited                                11
GIC Housing Finance Ltd                               10
Bank of Rajasthan                                      8
Kerala Gramin Bank                                     4
Industrial And Commercial Bank Of China Limited        3
Ahmedabad Mercantile Cooperative Bank                  1
Name: Salary_Account, dtype: int64

In [49]:
for x in data.dtypes[data.dtypes.values=='object'].index.tolist():
    print ('-------------')
    print (x)
    print ('-------------')
    print (data[x].value_counts())
    print ('-------------')

-------------
ID
-------------
ID098710O00    1
ID100188K30    1
ID016513D30    1
ID058159X40    1
ID099735Z00    1
              ..
ID064050M00    1
ID119421D10    1
ID034506E10    1
ID014562C20    1
ID103753N30    1
Name: ID, Length: 124737, dtype: int64
-------------
-------------
Gender
-------------
Male      71398
Female    53339
Name: Gender, dtype: int64
-------------
-------------
City
-------------
Delhi                17936
Bengaluru            15522
Mumbai               15425
Hyderabad            10410
Chennai               9895
                     ...
Panna                    1
SILVASSA                 1
SOMNATH JUNAGADHA        1
Kandhamal                1
Ramanagara               1
Name: City, Length: 723, dtype: int64
-------------
-------------
Employer_Name
-------------
0                                               6900
TATA CONSULTANCY SERVICES LTD (TCS)              754
COGNIZANT TECHNOLOGY SOLUTIONS INDIA PVT LTD     558
ACCENTURE SERVICES PVT LTD                       476
GOOGLE                                           408
                                                ...
SRINIVAS CHOWDARY                                  1
TITIKSHA TELE TECHNOCRATS PVT LTD                  1
PEARL BEVERAGES LTD                                1
TRENZ INDIA PRODUCTS                               1
KONYLABS IT SERVICE PVT LTD                        1
Name: Employer_Name, Length: 57193, dtype: int64
-------------
-------------
Salary_Account
-------------
HDFC Bank                                          25180
ICICI Bank                                         19547
State Bank of India                                17110
Axis Bank                                          12590
Citibank                                            3398
Kotak Bank                                          2955
IDBI Bank                                           2213
Punjab National Bank                                1747
Bank of India                                       1713
Bank of Baroda                                      1675
Standard Chartered Bank                             1434
Canara Bank                                         1385
Union Bank of India                                 1330
Yes Bank                                            1120
ING Vysya                                            996
Corporation bank                                     948
Indian Overseas Bank                                 901
State Bank of Hyderabad                              854
Indian Bank                                          773
Oriental Bank of Commerce                            761
IndusInd Bank                                        711
Andhra Bank                                          706
Central Bank of India                                648
Syndicate Bank                                       614
Bank of Maharasthra                                  576
HSBC                                                 474
State Bank of Bikaner & Jaipur                       448
Karur Vysya Bank                                     435
State Bank of Mysore                                 385
Federal Bank                                         377
Vijaya Bank                                          354
Allahabad Bank                                       345
UCO Bank                                             344
State Bank of Travancore                             333
Karnataka Bank                                       279
United Bank of India                                 276
Dena Bank                                            268
Saraswat Bank                                        265
State Bank of Patiala                                263
South Indian Bank                                    223
Deutsche Bank                                        176
Abhyuday Co-op Bank Ltd                              161
The Ratnakar Bank Ltd                                113
Tamil Nadu Mercantile Bank                           103
Punjab & Sind bank                                    84
J&K Bank                                              78
Lakshmi Vilas bank                                    69
Dhanalakshmi Bank Ltd                                 66
State Bank of Indore                                  32
Catholic Syrian Bank                                  27
India Bulls                                           21
B N P Paribas                                         15
Firstrand Bank Limited                                11
GIC Housing Finance Ltd                               10
Bank of Rajasthan                                      8
Kerala Gramin Bank                                     4
Industrial And Commercial Bank Of China Limited        3
Ahmedabad Mercantile Cooperative Bank                  1
Name: Salary_Account, dtype: int64
-------------
-------------
Mobile_Verified
-------------
Y    80928
N    43809
Name: Mobile_Verified, dtype: int64
-------------
-------------
Var1
-------------
HBXX    84901
HBXC    12952
HBXB     6502
HAXA     4214
HBXA     3042
HAXB     2879
HBXD     2818
HAXC     2171
HBXH     1387
HCXF      990
HAYT      710
HAVC      570
HAXM      386
HCXD      348
HCYS      318
HVYS      252
HAZD      161
HCXG      114
HAXF       22
Name: Var1, dtype: int64
-------------
-------------
Filled_Form
-------------
N    96740
Y    27997
Name: Filled_Form, dtype: int64
-------------
-------------
Device_Type
-------------
Web-browser    92105
Mobile         32632
Name: Device_Type, dtype: int64
-------------
-------------
Var2
-------------
B    53481
G    47338
C    20366
E     1855
D      918
F      770
A        9
Name: Var2, dtype: int64
-------------
-------------
Source
-------------
S122    55249
S133    42900
S159     7999
S143     6140
S127     2804
S137     2450
S134     1900
S161     1109
S151     1018
S157      929
S153      705
S144      447
S156      432
S158      294
S123      112
S141       83
S162       60
S124       43
S150       19
S160       11
S136        5
S155        5
S138        5
S129        4
S139        4
S135        2
S154        1
S130        1
S126        1
S131        1
S140        1
S132        1
S125        1
S142        1
Name: Source, dtype: int64
-------------
-------------
source
-------------
train    87020
test     37717
Name: source, dtype: int64
-------------

In [50]:
data_backup = data.copy()